<div>

    <h1>ConnectDots Password Reset</h1>
    <p>Hi <%=user.name%>!</p>
    <br>
    <br>
    <p>I heard that you lost your ConnectDots password , Sorry about that!</p>
    <p>But don't worry! You can use following link to reset your password</p>
    <br>
    <a href="http://43.205.209.122:8000/users/reset-password/<%=user.name%>/<%=user.email%>/<%=encodeURIComponent(JSON.stringify(token))%>">Reset your password</a>
    <br>
    <br>
    <p>...Thanks!</p> 

    
</div>