<div>

    <h1>Your password  was reset</h1>
    <p>Hi <%=user.name%>!</p>
    <br>
    <br>
    <p>We wanted to let you know that your Codeial password was reset!</p>
    <p>Please do not reply to this email with your password. We will never ask for your password, and we strongly discourage you from sharing it with anyone.</p>
    <br>
    <p>...Thanks!</p> 

    
</div>
