<footer id="layout-footer">
    <div>
        <p>
            &#169; Codeial a Social Media Website. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/sign-in/">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>


