<h1>Confirm Email</h1>
<p>Enter your user account's verified email address and we will send you a password reset link</p>
<form action="/users/verify-email"  method="POST">
    <input type="email" name="email" placeholder="Enter Email" required>
    <input type="submit" value="Send password reset email">
</form>