<h1>Change password for <%=username%></h1>
<form action="/users/change-password/<%=useremail%>/<%=token%>"  method="POST" onsubmit="return validatePasswords()">
    <input type="password" id="password" name="new_password" placeholder="Enter Password" onkeyup="checkPasswordStrength();" required><br>
    <span id="password-strength"></span><br><br>
    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required><br>
    <span id="password-match"></span><br><br>
    <input type="submit" value="Change Password">
</form>

<script>
    function verify_strength_of_password(password) {
        
        if (password.length < 8) {
            return 0; 
        }

        if (!/[a-z]/.test(password)) {
            return 1; 
        }

        if (!/[A-Z]/.test(password)) {
            return 2; 
        }

        if (!/\d/.test(password)) {
            return 3; 
        }

        const specialChars = "!@#$%^&*()-_=+[]{};:,.<>?";
        if (![...password].some(char => specialChars.includes(char))) {
            return 4; 
        }

        if (password.length > 30){
            return 5;
        }
        
        return 6; 
    }

    function checkPasswordStrength() {
        var password = document.getElementById('password').value;
        var confirm_password = document.getElementById('confirm_password');
        
        
        var strength = verify_strength_of_password(password);
        var strengthMessages = [
            "Password must be at least 8 characters long.",
            "Password must contain at least one lowercase letter.",
            "Password must contain at least one uppercase letter.",
            "Password must contain at least one digit.",
            "Password must contain at least one special character.",
            "Password must be at most 30 characters long.",
            "Strong password. Well done!"
        ];  
        
        var passwordMatchMessage = password === confirm_password ? '' : 'Passwords do not match.';
        document.getElementById('password-strength').innerText = strengthMessages[strength];
        

        if (strength === 6) {
            confirm_password.disabled = false;
        } else {
            confirm_password.disabled = true;
            confirm_password.value = '';
            
        }
    }

    function validatePasswords() {
        var password = document.getElementById('password').value;
        var confirm_password = document.getElementById('confirm_password').value;
        if (password !== confirm_password) {
            document.getElementById('password-match').innerText = 'Passwords do not match.';
            return false; 
        }
        return true; 
    }
</script>
