<h1><%= title %></h1>

<form action="/users/create" method="POST" onsubmit="return validatePasswords()  && validateEmail() && validateName()">
    <input type="text" id="name" name="name" placeholder="Enter Name" value="<%= typeof name !== 'undefined' ? name : '' %>" required><br>
    <span id="nameSpan"></span><br>
    <input id="email" type="email" name="email" placeholder="Enter Email" value="<%= typeof email !== 'undefined' ? email : '' %>" required><br>
    <span id="emailSpan"></span><br>
    <input type="password" name="password" id="password" placeholder="Enter Password" onkeyup="checkPasswordStrength();" required><br>
    <span id="password-strength"></span><br>
    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password"  required><br>
    <span id="password-match"></span><br><br>
    <input type="submit" value="Sign Up">
</form>

<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>

<script>
    function verify_strength_of_password(password) {
        
        if (password.length < 8) {
            return 0; 
        }

        if (!/[a-z]/.test(password)) {
            return 1; 
        }

        if (!/[A-Z]/.test(password)) {
            return 2; 
        }

        if (!/\d/.test(password)) {
            return 3; 
        }

        const specialChars = "!@#$%^&*()-_=+[]{};:,.<>?";
        if (![...password].some(char => specialChars.includes(char))) {
            return 4; 
        }

        if (password.length > 30){
            
            return 5;
        }

        return 6; 
    }

    function checkPasswordStrength() {
        var password = document.getElementById('password').value;
        var confirm_password = document.getElementById('confirm_password');
        

        var strength = verify_strength_of_password(password);
        var strengthMessages = [
            "Password must be at least 8 characters long.",
            "Password must contain at least one lowercase letter.",
            "Password must contain at least one uppercase letter.",
            "Password must contain at least one digit.",
            "Password must contain at least one special character.",
            "Password must be at most 30 characters long.",
            "Strong password. Well done!"
        ];  
        
        document.getElementById('password-strength').innerText = strengthMessages[strength];
        
        if (strength === 6) {
            confirm_password.disabled = false;
            
        } else {
            confirm_password.disabled = true;
            confirm_password.value = '';
        }
    }

    function validatePasswords() {
        var password = document.getElementById('password').value;
        var confirm_password = document.getElementById('confirm_password').value;

        if (document.getElementById('name').value .length > 15) {
            document.getElementById('name').value = ''; 
            return false; 
        }

        if (password !== confirm_password) {
            document.getElementById('password-match').innerText = 'Passwords do not match.';
            return false; 
        }
        return true; 
    }

    document.getElementById("name").addEventListener("input", function() {
        var name = this.value;
        var nameSpanElement = document.getElementById("nameSpan");
        
        if (name.length > 15) {
            nameSpanElement.textContent = "Name must be at most 15 characters long";
        } else {
            nameSpanElement.textContent = "";
        }
    });

    function validateEmail() {
        var email = document.getElementById('email').value;
        var emailSpan = document.getElementById('emailSpan');
        var emailPattern = /^[a-zA-Z0-9]+@gmail.com$/;
        if (email.length > 50) {
            document.getElementById('email').value = ''; 
            
            emailSpan.innerText = 'Email is too long. Please use a shorter email address.'
            return false; 
        }else{
            emailSpan.innerText = ""
        }
        if (!emailPattern.test(email)) {
            document.getElementById('email').value = ''; 
            
            emailSpan.innerText = 'Please use a Gmail address to create an account.'
            return false; 
        }else{
            emailSpan.innerText = ""
        }
        return true; 
    }

    function validateName() {
        var name = document.getElementById('name').value;
        var namePattern = /^[A-Za-z]+$/; 
        var nameSpanElement = document.getElementById('nameSpan');
        if (!namePattern.test(name)) {
            name.value = ''; 
            nameSpanElement.innerText = 'Name should only contain letters without spaces.'; 
            return false; 
        }else{
            nameSpanElement.innerText = ""
        }
        
        if (name.length > 20) {
            name.value = ''; 
            nameSpanElement.innerText = 'Name is too long. Please use a shorter name.'; 
            return false; 
        }else{
            nameSpanElement.innerText = ""
        }
        return true; 
    }

</script>
