<h1>Verification email sent!</h1>
<p>Thank you for your interest in Codeial.You have been successfully registered.</p>
<p>This action requires email verification , now you need to confirm you email.</p>
<p>A letter was sent to you email , please check your inbox & follow  the instructions to complete the registration.</p>
<p>Email sent to : <%= email%> .</p>
<p>After confirmation of email go to sign in page :- <a href="/user/sign-in">Sign In</a></p>