<div>

    <p>Hi <%= post.user.name%>!</p>
    <br>
    <br>
    <p>A new comment '<strong><%= comment_content %></strong>' is published on your post '<strong> <%= post.content %></strong>'</p>
    <br>
    <br>
    <p>Thanks!</p>

    
</div>