h1 {
  color: brown;
}

.flex-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}


.flex-container .profile_user_posts #pagesInProfile{
    display: flex;
    margin-top: 60px;
    justify-content: center;
}