<h1>Account Activated</h1>
<h3>Hello <%=user.name%>!</h3>
<p>I would like to extend my sincere thanks for choosing Codeial as your one of the social media platform.</p>
<p>Through Codeial, you've connected with people, ideas and opportunities. </p>
<p>Your posts and contributions will enrich this platform making it more diverse and will help to foster a welcoming and engaging community.</p>
<p>Your presence and participation mean a lot and inspire to keep innovating and developing new features</p>
<p>Your email has been verified , your account is active now and you can login to your account by below link:-</p>
<h3><a href="http://13.127.17.176:8000/users/sign-in">Login to your account</a></h3>

<p>...Thanks for being a part of Codeial Community</p>