<h1>Account Activated</h1>
<h3>Hello <%=user.name%>!</h3>
<p>I would like to extend my sincere thanks for choosing Codeial as your one of the social media platform. Your presence and participation mean a lot and 
    inspire us to keep innovating and developing new features.</p>
<p>Through Codeial, you've connected with people, ideas and opportunities. </p>
<p>Your interactions and contributions will help to foster a welcoming and engaging community.</p>
<p>Your posts and shares will enrich this platform, making it more diverse and informative.</p>
<p>Your email has been verified , your account is now active and you can login to your account by below link:-</p>
<h3><a href="http://localhost:8000/users/sign-in">Login to your account</a></h3>

<p>...Thanks for being a part of Codeial Community</p>



