<div>

    <h4>Hi <%= user.name%> , </h4>
    <br>
    <br>
    <p>
        You're almost set to start enjoying Codeial. Simply click the link below
        to verify your email address and get started. The link expires in 20 minutes.
    </p>
    <h5><a href="http://13.127.17.176:8000/users/verify-my-email-address/<%=user.email%>/<%=token%>">Verify my email address</a></h5>
    <br>
    <br>
    <p>If it was not you just ignore this letter.</p>
    <p>With best regards,</p> 
    <p>Codeial Team.</p>

    
</div>